[defaults]
    #stdout_callback = yaml
    #bin_ansible_callbacks = True
    gather_facts = True
    inventory=./inventory
    filter_plugins=./filter_plugins
    host_key_checking = False

[inventory]
enable_plugins = ini, host_list, yaml
