[defaults]
    stdout_callback = yaml
    bin_ansible_callbacks = True
    gather_facts = True
    inventory=./hosts.ini
    roles_path = ./roles:./ext_roles
    filter_plugins=./filter_plugins
    host_key_checking = False
    transport = paramiko


[inventory]
enable_plugins = ini, host_list, yaml
