[Unit]
Description=Rust Ethereum client (reth)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ ethereum_user }}
Group={{ ethereum_user }}
LimitNOFILE={{ default_max_open_files_in_service }}
Environment=HOME={{ ethereum_base }}
WorkingDirectory={{ ethereum_base }}
ExecStart={{ ethereum_base }}/reth node \
    --chain mainnet \
    --datadir {{ ethereum_storage_path }} \
    --port {{ default_p2p_port | default(reth_eth_p2p_port) }} \
    --discovery.port {{ default_p2p_port | default(reth_eth_p2p_port) }} \
    --http \
    --http.addr {{ container_ip }} \
    --http.port {{ reth_eth_http_port }} \
    --http.api {{ reth_eth_http_api }} \
    --http.corsdomain "*" \
    --ws \
    --ws.addr {{ container_ip }} \
    --ws.port {{ reth_eth_ws_port }} \
    --ws.api {{ reth_eth_http_api }} \
    --ws.origins "*" \
    --authrpc.addr 127.0.0.1 \
    --authrpc.port {{ ethereum_lighthouse_port }} \
    --authrpc.jwtsecret {{ ethereum_jwtsecret_file }} \
    --metrics {{ container_ip }}:{{ reth_metrics_port }} \
{% if default_node_type == "full" %}
    --full \
{% elif default_node_type == "minimal" %}
    --minimal \
{% endif %}
    --log.file.directory {{ ethereum_storage_path }}/logs

ExecStop=/bin/kill -s SIGTERM $MAINPID
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=120
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
