[Unit]
Description="{{ host_name.split('.')[0] }} Collator - Cumulus service"
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User={{ cumulus_user }}
Group={{ cumulus_group }}
SyslogIdentifier={{ cumulus_service }}
LimitNOFILE={{ default_max_open_files_in_service }}
SyslogFacility=local7
KillSignal=SIGHUP
ExecStart={{ cumulus_base }}/cumulus \
     --base-path {{ cumulus_base }} \
     --chain {{ cumulus_network }} \
     --database {{ cumulus_database }} \
     --sync {{ cumulus_syncmode }} \
     --name "{{ hostvars[inventory_hostname]['default_telemetry_name'] | default(host_name) }}" \
     --telemetry-url 'wss://telemetry-backend.w3f.community/submit 1' \
     --port {{ cumulus_p2p_port }} \
     --rpc-port {{ default_rpc_port }} \
     --prometheus-port {{ cumulus_prom_port }} \
     --execution wasm \
     --wasm-execution compiled \
     --pruning 1000 \
     --db-cache {{ ansible_memtotal_mb // 2 }}

[Install]
WantedBy=multi-user.target
