[Unit]
Description="{{ host_name.split('.')[0] }} bootnode - Hyperbridge service"
After=network-online.target
Wants=network-online.target

[Service]
User={{ default_user }}
Group={{ default_group }}
ExecStart={{ default_base_path }}/hyperbridge \
  --name "{{ default_telemetry_name }}" \
  --chain {{ default_network }} \
  --base-path {{ default_base_path }} \
  --database {{ default_database }} \
  --state-pruning 256 \
  --log sync=warn,afg=warn,babe=warn \
  --telemetry-url 'wss://telemetry-backend.w3f.community/submit 1' \
  --telemetry-url 'wss://telemetry.polkadot.io/submit/ 1' \
  --listen-addr /ip4/0.0.0.0/tcp/{{ default_p2p_port }} \
  --listen-addr /ip4/0.0.0.0/tcp/{{ default_p2p_port_ws }}/ws \
  --public-addr /ip4/{{ ansible_host }}/tcp/{{ default_p2p_port }} \
  --public-addr /ip4/{{ ansible_host }}/tcp/{{ default_p2p_port_ws }}/ws \
  --public-addr /dns/{{ default_domain }}/tcp/{{ default_p2p_port }} \
  --public-addr /dns/{{ default_domain }}/tcp/{{ default_p2p_port_ws }}/ws \
  --public-addr /dns/{{ default_domain }}/tcp/{{ default_p2p_port_wss }}/wss \
  --rpc-port {{ default_rpc_port }} \
  --prometheus-port {{ default_prom_port }} \
  --prometheus-external \
  --relay-chain-rpc-urls {{ default_relay_rpc }} {{ default_relay_rpc_fallback }} \
  --wasm-execution Compiled \
  --sync {{ default_syncmode | default('warp') }} \
  --no-hardware-benchmarks \
  --rpc-external \
  --rpc-methods safe \
  --rpc-cors all \
  --allow-private-ipv4

Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
