---
# cp secret_vault.yaml.example secret_vault.yaml
# And replace your own values here
# add .vault_pass in root folder with your vault password
# ansible-vault encrypt secret_vault.yaml --encrypt-file-name ../../.vault_pass
# usage: ansible-playbook playbooks/playbook.yaml --vault-password-file .vault_pass
default_passphrase: "4sYnCr0n0uzB4cKing15theway"
default_password: "m4rg4r1t45and3xpl0s10n5"
porkbun_api_key: pk1_xxx
porkbun_secret_key: sk1_xxx
...
