---
# cp secret_vault.yaml.example secret_vault.yaml
# And replace your own values here
# in root mv .vault_pass.example into .vault_pass and change the password
# ansible-vault encrypt secret_vault.yaml --encrypt-file-name ../../.vault_pass
# usage: ansible-playbook playbooks/playbook.yaml --vault-password-file .vault_pass
default_passphrase: "kyEoeYaleIbS2LvdahoAJ0XYc4XguIHV"
default_password: "4sYnCr0n0uzB4cKing15theway"
porkbun_api_key: "pk1_xxx"
porkbun_secret_key: "sk1_xxx"
