---
# cp secret_vault.yaml.example secret_vault.yaml
# And replace your own values here
# in root mv .vault_pass.example into .vault_pass and change the password
# ansible-vault encrypt secret_vault.yaml --vault-password-file ../../.vault_pass
# usage: ansible-playbook playbooks/playbook.yaml --vault-password-file .vault_pass
# default_passphrase: "kyEoeYaleIbS2LvdahoAJ0XYc4XguIHV"
# default_password: "KoristoKaarinaKotikuntani!"
#
default_passphrase: "kyEoeYaleIbS2LvdahoAJ0XYc4XguIHV"
default_password: "4sYnCr0n0uzB4cKing15theway"

cloudflare_zone_id: "3aa33a20e334cf8bf1c3c010ae0875f5"
cloudflare_api_token: "kyEoeYaleIbS2LvdahoAJ0XYc4XguIHVaaabbbbccc"
