[Unit]
Description="{{ host_name.split('.')[0] }} Collator - Encointer service"
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User={{ default_user }}
Group={{ default_group }}
SyslogIdentifier={{ default_service }}
LimitNOFILE={{ default_max_open_files_in_service }}
SyslogFacility=local7
KillSignal=SIGHUP
ExecStart={{ default_base_path }}/encointer \
     --base-path {{ default_base_path }} \
     --chain {{ default_network }} \
     --database {{ default_database }} \
     --sync {{ default_syncmode }} \
     --name "{{ hostvars[inventory_hostname]['default_telemetry_name'] | default(host_name) }}" \
     --telemetry-url 'wss://telemetry-backend.w3f.community/submit 1' \
     --port {{ default_p2p_port }} \
     --rpc-port {{ default_rpc_port }} \
     --prometheus-port {{ default_prom_port }} \
     --public-addr /ip4/{{ ansible_host }}/tcp/{{ default_p2p_port }} \
     --public-addr /ip4/{{ ansible_host }}/tcp/{{ default_p2p_port_ws }}/ws \
     --relay-chain-rpc-urls {{ default_relay_rpc }} {{ default_relay_rpc_fallback }} \
     --execution wasm \
     --wasm-execution compiled \
     --pruning 1000 \
     --db-cache {{ ansible_memtotal_mb // 2 }}

[Install]
WantedBy=multi-user.target
