[Unit]
Description="{{ host_name.split('.')[0] }} - Polkadot service"
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User={{ polkadot_user }}
SyslogIdentifier={{ polkadot_service }}
LimitNOFILE={{ default_max_open_files_in_service }}
SyslogFacility=local7
KillSignal=SIGHUP
ExecStart={{ polkadot_base }}/polkadot \
     --base-path {{ polkadot_base }} \
     --chain {{ polkadot_network }} \
     --name "{{ hostvars[inventory_hostname]['default_telemetry_name'] | default(host_name) }}" \
     --port {{ polkadot_p2p_port }} \
     --rpc-port {{ polkadot_rpc_port }} \
     --execution wasm \
     --wasm-execution compiled \
     --pruning 1000 \
     --db-cache {{ ansible_memtotal_mb // 2 }}

[Install]
WantedBy=multi-user.target
