[Unit]
Description="{{ host_name.split('.')[0] }} bootnode - Polkadot service"
After=network-online.target
Wants=network-online.target

[Service]
User={{ polkadot_user }}
Group={{ polkadot_group }}
ExecStart={{ polkadot_base }}/polkadot \
  --name "{{ default_telemetry_name }}" \
  --chain {{ polkadot_network }} \
  --base-path {{ polkadot_base }} \
  --database paritydb \
  --state-pruning 256 \
  --log sync=warn,afg=warn,babe=warn \
  --telemetry-url 'wss://telemetry-backend.w3f.community/submit 1' \
  --telemetry-url 'wss://telemetry.polkadot.io/submit/ 1' \
  --listen-addr /ip6/::/tcp/{{ polkadot_p2p_port }} \
  --listen-addr /ip6/::/tcp/{{ polkadot_rpc_port }}/ws \
  --listen-addr /ip4/0.0.0.0/tcp/{{ polkadot_p2p_port }} \
  --listen-addr /ip4/0.0.0.0/tcp/{{ polkadot_rpc_port }}/ws \
  --public-addr /dns/{{ default_public_dns }}/tcp/{{ polkadot_p2p_port }} \
  --public-addr /dns/{{ default_public_dns }}/tcp/{{ polkadot_rpc_port }}/ws \
  --public-addr /dns/{{ default_public_dns }}/tcp/{{ polkadot_proxy_port }}/wss \
  --wasm-execution Compiled \
  --execution native-else-wasm \
  --sync warp \
  --no-hardware-benchmarks \
  --rpc-external \
  --rpc-methods safe \
  --prometheus-external \
  --rpc-cors all \
  --allow-private-ipv4

Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
