[Unit]
Description="{{ host_name.split('.')[0] }} endpoint - Polkadot service"
After=network-online.target
Wants=network-online.target

[Service]
User={{ polkadot_user }}
Group={{ polkadot_group }}
ExecStart={{ polkadot_base }}/polkadot \
  --name "{{ default_telemetry_name }}" \
  --chain {{ polkadot_network }} \
  --base-path {{ polkadot_base }} \
  --state-pruning archive \
  --sync full \
  --listen-addr /ip6/::/tcp/{{ polkadot_p2p_port }} \
  --listen-addr /ip6/::/tcp/{{ default_rpc_port }}/ws \
  --listen-addr /ip4/0.0.0.0/tcp/{{ polkadot_p2p_port }} \
  --listen-addr /ip4/0.0.0.0/tcp/{{ default_rpc_port }}/ws \
  --public-addr /dns/{{ default_public_dns }}/tcp/{{ polkadot_p2p_port }} \
  --public-addr /dns/{{ default_public_dns }}/tcp/{{ default_secure_rpc_port }}/wss \
  --wasm-execution Compiled \
  --execution native-else-wasm \
  --no-hardware-benchmarks \
  --rpc-external \
  --rpc-methods safe \
  --rpc-cors all \
  --allow-private-ipv4

Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
