[Unit]
Description="Polkadot bootnode service"
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User={{ polkadot_user }}
SyslogIdentifier={{ polkadot_service }}
LimitNOFILE={{ default_max_open_files_in_service }}
SyslogFacility=local7
KillSignal=SIGHUP
ExecStart={{ polkadot_base }}/polkadot \
     --unsafe-rpc-external \
     --unsafe-ws-external \
     --rpc-cors=all \
     --port {{ polkadot_p2p_port }} \
     --rpc-port {{ polkadot_rpc_port }} \
     --execution wasm \
     --wasm-execution compiled \
     --pruning=archive \
     --db-cache {{ (ansible_memtotal_mb * 0.9) | int }}
     --base-path {{ polkadot_base }} \
     --no-prometheus \
     --no-mdns \
     --chain {{ polkadot_network }} \
     --name "{{ host_name.split('.')[0] }}" \
     --disable-log-color \
     --max-parallel-downloads 20 \
     --max-runtime-instances 16 \
     --out-peers 50 \
     --rpc-max-response-size 30 \
     --ws-max-connections 800
[Install]
WantedBy=multi-user.target
