[Unit]
Description="{{ host_name.split('.')[0] }} endpoint - Polkadot service"
After=network-online.target
Wants=network-online.target

[Service]
User={{ default_user }}
Group={{ default_group }}
ExecStart={{ default_base_path }}/polkadot \
  --name "{{ default_telemetry_name }}" \
{% if default_network == 'paseo' %}--chain {{ default_chain_spec }} \
{% else %}--chain {{ default_network }} \
{% endif %}--base-path {{ default_base_path }} \
  --database {{ default_database }} \
  --state-pruning archive \
  --sync full \
  --listen-addr /ip4/0.0.0.0/tcp/{{ default_p2p_port }} \
  --listen-addr /ip4/0.0.0.0/tcp/{{ default_p2p_port_ws }}/ws \
  --public-addr /ip4/{{ ansible_host }}/tcp/{{ default_p2p_port }} \
  --public-addr /ip4/{{ ansible_host }}/tcp/{{ default_p2p_port_ws }}/ws \
  --public-addr /dns/{{ default_public_dns }}/tcp/{{ default_p2p_port }} \
  --public-addr /dns/{{ default_public_dns }}/tcp/{{ default_p2p_port_ws }}/ws \
  --public-addr /dns/{{ default_public_dns }}/tcp/{{ default_p2p_port_wss }}/wss \
  --rpc-port {{ default_rpc_port }} \
  --prometheus-port {{ default_prom_port }} \
  --prometheus-external \
  --enable-offchain-indexing true \
  --wasm-execution Compiled \
  --no-hardware-benchmarks \
  --rpc-external \
  --rpc-methods safe \
  --rpc-cors all \
  --max-runtime-instances 32 \
  --rpc-max-request-size 16 \
  --rpc-max-response-size 16 \
  --rpc-max-subscriptions-per-connection 512 \
  --rpc-max-connections 10000 \
  --allow-private-ipv4

Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
