{
  "snowman-api-enabled": false,
  "coreth-admin-api-enabled": false,
  "coreth-admin-api-dir": "",
  "eth-apis": [
{% for api in flare_eth_apis | default(["eth", "eth-filter", "net", "web3", "internal-eth", "internal-blockchain", "internal-transaction"]) %}
    "{{ api }}"{{ "," if not loop.last }}
{% endfor %}
  ],
  "continuous-profiler-dir": "",
  "continuous-profiler-frequency": 900000000000,
  "continuous-profiler-max-files": 5,
  "rpc-gas-cap": 50000000,
  "rpc-tx-fee-cap": {{ flare_rpc_tx_fee_cap | default(100) }},
  "preimages-enabled": false,
  "pruning-enabled": {{ flare_pruning_enabled | tojson }},
  "snapshot-async": true,
  "snapshot-verification-enabled": false,
  "metrics-enabled": true,
  "metrics-expensive-enabled": false,
  "local-txs-enabled": {{ flare_local_txs_enabled | default(false) | tojson }},
  "api-max-duration": 30000000000,
  "ws-cpu-refill-rate": 0,
  "ws-cpu-max-stored": 0,
  "api-max-blocks-per-request": 30,
  "allow-unfinalized-queries": {{ flare_allow_unfinalized_queries | default(false) | tojson }},
  "allow-unprotected-txs": false,
  "keystore-directory": "",
  "keystore-external-signer": "",
  "keystore-insecure-unlock-allowed": false,
  "remote-tx-gossip-only-enabled": false,
  "tx-regossip-frequency": 60000000000,
  "tx-regossip-max-size": 15,
  "log-level": "{{ flare_log_level }}",
  "offline-pruning-enabled": false,
  "offline-pruning-bloom-filter-size": 512,
  "offline-pruning-data-directory": ""
}
