map $http_x_api_key $api_key_valid {
    default 0;
    "{{ default_nginx_psk }}" 1;
}

server {
    listen {{ polkadot_p2p_port_wss }} ssl http2;
    listen [::]:{{ polkadot_p2p_port_wss }} ssl http2;
    server_name {{ default_public_dns }};
    
    # SSL/TLS settings
    ssl_certificate /etc/letsencrypt/live/{{ default_public_dns }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ default_public_dns }}/privkey.pem;

    # Strong SSL settings
    ssl_protocols TLSv1.3;
    ssl_ciphers 'TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384';
    ssl_prefer_server_ciphers off;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;
    ssl_session_tickets off;

    # OCSP Stapling
    ssl_stapling on;
    ssl_stapling_verify on;
    resolver 1.1.1.1 1.0.0.1 valid=300s;
    resolver_timeout 5s;

    # Disable any limits to prevent potential DoS attacks
    client_max_body_size 0;
    proxy_request_buffering off;

    # Harden the server headers
    server_tokens off;


    location / {
        proxy_pass http://127.0.0.1:{{ polkadot_p2p_port_ws }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}

server {
    listen {{ default_secure_rpc_port }} ssl http2;
    listen [::]:{{ default_secure_rpc_port }} ssl http2;
    server_name {{ default_public_dns }};

    # SSL/TLS settings
    ssl_certificate /etc/letsencrypt/live/{{ default_public_dns }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ default_public_dns }}/privkey.pem;

    # Strong SSL settings
    ssl_protocols TLSv1.3;
    ssl_ciphers 'TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384';
    ssl_prefer_server_ciphers off;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;
    ssl_session_tickets off;

    # OCSP Stapling
    ssl_stapling on;
    ssl_stapling_verify on;
    resolver 1.1.1.1 1.0.0.1 valid=300s;
    resolver_timeout 5s;

    # Disable any limits to prevent potential DoS attacks
    client_max_body_size 0;
    proxy_request_buffering off;

    # Harden the server headers
    server_tokens off;


    location / {
        if ($api_key_valid = 0) {
            return 401;
        }
        proxy_pass http://127.0.0.1:{{ default_rpc_port }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
