server {
    listen 443 ssl http2;
    server_name {{ default_domain }};

    access_log /var/log/nginx/{{ default_domain }}_access.log;
    error_log /var/log/nginx/{{ default_domain }}_error.log;

    ssl_certificate     /etc/nginx/ssl/fullchain.pem;
    ssl_certificate_key /etc/nginx/ssl/privkey.pem;

    # SSL configuration for gRPC
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;

    # Define the 404 error page location
    error_page 404 /404.html;
    location = /404.html {
        root /var/www/errors;
        internal;
    }

    # gRPC proxy configuration
    location / {
        grpc_pass grpc://127.0.0.1:{{ default_grpc_port }};

        # gRPC-specific settings
        grpc_set_header Host $host;
        grpc_set_header X-Real-IP $remote_addr;
        grpc_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        # Timeout settings
        grpc_connect_timeout 60s;
        grpc_send_timeout 60s;
        grpc_read_timeout 60s;

        # Error handling
        error_page 502 = /grpc_error502;
    }

    location = /grpc_error502 {
        internal;
        default_type application/grpc;
        add_header grpc-status 14;
        add_header grpc-message "Service unavailable";
        return 204;
    }
}
