# Global settings
global
    log 127.0.0.1 local0
    chroot /var/lib/haproxy
    pidfile /var/run/haproxy.pid
    maxconn 250000
    user haproxy
    group haproxy
    daemon
    nbthread 8
    server-state-base /opt/haproxy/state/
    tune.bufsize 131072
    tune.ssl.default-dh-param 4096
    stats socket /var/run/haproxy.sock mode 600 level admin
    stats timeout 2m
    maxcompcpuusage 50

# Defaults
defaults
    log global
    retries 3
    maxconn 250000
    timeout connect 5s
    timeout client 300s
    timeout server 300s
    timeout queue 25s

# Stats
frontend stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s

###
# HTTP Frontend configuration
###

#frontend http-frontend
#   bind *:80
#   mode http
#   timeout client 300s

#   acl is_http ssl_fc
#   acl letsencrypt-acl path_beg -i /.well-known/acme-challenge/
#   http-request redirect scheme https if !is_http !letsencrypt-acl
#   use_backend letsencrypt if letsencrypt-acl
#   default_backend letsencrypt

# SSL Frontend
frontend ssl-frontend
   bind *:443 ssl crt /etc/pki/certs # verify optional
   mode http
   timeout client 300s

   # Detecting WebSocket Upgrade header
   acl wss hdr(Upgrade) -i websocket

   # Relay chains
   acl polkadot path_beg -i /polkadot
   acl kusama path_beg -i /kusama
   acl westend path_beg -i /westend

   # Horizontal chains
#   acl westmint path_beg -i /westmint
#   acl statemine path_beg -i /statemine
#   acl statemint path_beg -i /statemint
#   acl encointerKusama path_beg -i /encointer-kusama
#   acl bridgehubKusama path_beg -i /bridgehub-kusama
#   acl bridgehubPolkadot path_beg -i /bridgehub-polkadot
#   acl bridgehubWestend path_beg -i /bridgehub-westend
#   acl collectivesWestend path_beg -i /collectives-westend
#   acl collectivesPolkadot path_beg -i /collectives-polkadot

   # Polkadot
   use_backend polkadot-backend if polkadot
#   use_backend statemint-backend if statemint
#   use_backend collectivesPolkadot-backend if collectivesPolkadot
#   use_backend bridgehubPolkadot-backend if bridgehubPolkadot
   # Kusama
   use_backend kusama-backend if kusama
#   use_backend statemine-backend if statemine
#   use_backend encointerKusama-wss-backend if encointerKusama wss
#   use_backend encointerKusama-rpc-backend if encointerKusama !wss
#   use_backend bridgehubKusama-backend if bridgehubKusama
   # Westend
   use_backend westend-backend if westend
#   use_backend westmint-backend if westmint
#   use_backend collectivesWestend-backend if collectivesWestend
#   use_backend bridgehubWestend-backend if bridgehubWestend

###
# Polkadot Backend Configurations
###

backend polkadot-backend
    mode http
    balance leastconn
    server polkadot1-rpc 192.168.69.13:9313 check inter 2s maxconn 200
    server polkadot2-rpc 192.168.69.14:9314 check inter 2s maxconn 200

###
# Kusama Backend Configurations
###

backend kusama-backend
    mode http
    balance leastconn
    server kusama1-rpc 192.168.69.23:9323 check inter 2s maxconn 200
    server kusama2-rpc 192.168.69.24:9324 check inter 2s maxconn 200

###
# Westend Backend Configurations
###

backend westend-backend
    mode http
    balance leastconn
    server westend1-rpc 192.168.69.33:9333 check inter 2s maxconn 200
    server westend2-rpc 192.168.69.34:9334 check inter 2s maxconn 200

###
# MISC Backend Configurations
###

#backend letsencrypt
#   mode http
#   balance leastconn
#   server letsencrypt 192.168.69.95:80 check inter 2s maxconn 200

#backend monitor
#   mode http
#   balance leastconn
#   server monitor 192.168.69.98:80 check inter 2s maxconn 200

#backend ibp
#   mode http
#   balance leastconn
#   server monitor 192.168.69.97:80 check inter 2s maxconn 200
