auto lo
iface lo inet loopback

auto eth0
iface eth0 inet static
  address {{ container_ip }}/24
  gateway {{ default_nat_network_forward_cidr.split("/")[0] }}
  post-up ip route add {{ default_nat_network_forward_cidr }} dev eth0
  post-up ip route add unreachable 10.0.0.0/8
  post-up ip route add unreachable 172.16.0.0/12
  post-up ip route add unreachable 192.0.0.0/24
  post-up ip route add unreachable 192.168.0.0/16
  post-up ip route add unreachable 100.64.0.0/10
  post-up ip route add unreachable 198.18.0.0/15
  post-up ip route add unreachable 169.254.0.0/16
