DJANGO_SETTINGS_MODULE=project.settings.remote
SECRET_KEY=unused
DB_NAME=db
DB_USER=db
DB_PASSWORD={{ fdc_utxo_db_password }}

ALLOWED_HOST=*
EXPORT_METRICS=true
CORS_ALLOWED_ORIGINS=https://172.17.0.1
USER_UID=10000
USER_GID=10000

NODE_RPC_URL={{ fdc_utxo_node_url }}
AUTH_USERNAME={{ fdc_utxo_node_user }}
AUTH_PASSWORD={{ fdc_utxo_node_password }}

SOURCE_NAME={{ fdc_utxo_chain }}

INDEXER_POLL_INTERVAL=10
INITIAL_BLOCK_HEIGHT={{ fdc_utxo_start_block }}
NUMBER_OF_BLOCK_CONFIRMATIONS={{ fdc_utxo_confirmations }}
NUMBER_OF_WORKERS=10
PRUNE_KEEP_DAYS=15
PRUNE_INTERVAL_SECONDS=60
