DB_DATABASE=db
DB_USERNAME=db
DB_PASSWORD={{ fdc_utxo_db_password }}
DB_HOST=database
DB_PORT=5432

UNDERLYING_NODE_URL={{ fdc_utxo_node_url }}
UNDERLYING_NODE_USER={{ fdc_utxo_node_user }}
UNDERLYING_NODE_PASS={{ fdc_utxo_node_password }}

VERIFIER_TYPE={{ fdc_utxo_chain }}
NUMBER_OF_CONFIRMATIONS={{ fdc_utxo_confirmations }}
INDEXER_SERVER_PAGE_LIMIT=100

PORT=3100
API_KEYS={{ fdc_utxo_api_keys }}

APP_BASE_PATH=/verifier/{{ fdc_utxo_chain }}
TESTNET={{ fdc_utxo_testnet }}
