---
ansible_host: "160.22.181.181"
container_ip: "192.168.47.94"
ansible_port: 2905
host_name: "rpc-people-paseo-02.rotko.net"
host_timezone: "Asia/Bangkok"
# netif: '{"net0":"name=eth0,gw={{ default_nat_network_forward_cidr.split("/")[0] }},ip={{ default_mgmt_host_ip }}/16,bridge={{ default_nat_device }}"}'
netif:
  net0: "name=eth0,gw={{ default_nat_network_forward_cidr.split('/')[0] }},ip={{ default_mgmt_host_ip }}/16,bridge={{ default_nat_device }}"
  net1: "name=eth1,gw={{ default_host_internal_ip }},ip=10.7.142.14/16,bridge={{ default_host_internal_bridge }}"
container_internal_ip: "10.7.142.14"
role: "cumulus"
pinned_service: True

default_telemetry_name: "Rotko Networks - {{ host_name.split('.')[0] }} {{ default_node_type | capitalize }}"
default_domain: "{{ host_name }}"
default_network: "people-paseo"
default_network_pathname: "paseo-people"
default_chain_spec: "{{ default_base_path }}/people-paseo.raw.json"
default_chain_spec_dl_url: "https://paseo-r2.zondax.ch/chain-specs/paseo-people.raw.json"
default_relay_rpc: "ws://{{ hostvars['rpc-paseo-01']['container_ip'] }}:{{ hostvars['rpc-paseo-01']['default_rpc_port'] }}"
default_relay_rpc_fallback: "ws://{{ hostvars['rpc-paseo-02']['container_ip'] }}:{{ hostvars['rpc-paseo-02']['default_rpc_port'] }}"
default_database: "rocksdb"
default_node_type: "endpoint"
zabbix_ext_port: 10967

default_bootnode_domain: "{{ default_network }}.boot.rotko.net"
default_bootnode_p2p_port: 34042
default_bootnode_p2p_port_ws: 30434
default_bootnode_p2p_port_wss: 30435
