---
ansible_host: "160.22.181.181"
container_ip: "192.168.77.22"
container_internal_ip: "10.7.122.10"
ansible_port: 2322
host_name: "rpc-kusama-02.ct.rotko.net"
host_timezone: "Asia/Bangkok"
# netif: '{"net0":"name=eth0,gw={{ default_nat_network_forward_cidr.split("/")[0] }},ip={{ default_mgmt_host_ip }}/16,bridge={{ default_nat_device }}"}'
netif:
  net0: "name=eth0,gw={{ default_nat_network_forward_cidr.split('/')[0] }},ip={{ default_mgmt_host_ip }}/16,bridge={{ default_nat_device }}"
  net1: "name=eth1,gw={{ default_host_internal_ip }},ip=10.7.122.10/16,bridge={{ default_host_internal_bridge }}"
role: "polkadot"
pinned_service: True

default_telemetry_name: "Rotko Networks - {{ host_name.split('.')[0] }} {{ default_node_type | capitalize }}"
default_domain: "{{ host_name }}"
default_domain_lb: "kusama.rotko.net"
default_domain_ibp: "rpc.ibp.network"
default_domain_dotters: "rpc.dotters.network"
default_ibp_repository: "git@github.com:GATOTECH-LTD/ibp-ssl"
default_dotters_repository: "git@github.com:senseless/dotters-ssl"
default_network: "kusama"
default_node_type: "endpoint"
default_pruning: "archive"
default_database: "rocksdb"
default_syncmode: "full"
default_p2p_port: 33322
default_p2p_port_ws: 34322
default_p2p_port_wss: 35322
default_bootnode_p2p_port: 30433
default_bootnode_p2p_port_ws: 30434
default_bootnode_p2p_port_wss: 30435
default_rpc_port: 9322
default_secure_rpc_port: 42322
default_prom_port: 7322
zabbix_ext_port: 10322

default_bootnode_domain: "{{ default_network }}.boot.rotko.net"
