---
ansible_host: "160.22.181.181"
container_ip: "192.168.77.50"
ansible_port: 2957
host_name: "rpc-asset-hub-paseo-02.rotko.net"
host_timezone: "Asia/Bangkok"
# netif: '{"net0":"name=eth0,gw={{ default_nat_network_forward_cidr.split("/")[0] }},ip={{ default_mgmt_host_ip }}/16,bridge={{ default_nat_device }}"}'
netif:
  net0: "name=eth0,gw={{ default_nat_network_forward_cidr.split('/')[0] }},ip={{ default_mgmt_host_ip }}/16,bridge={{ default_nat_device }}"
  net1: "name=eth1,gw={{ default_host_internal_ip }},ip=10.7.142.11/16,bridge={{ default_host_internal_bridge }}"
container_internal_ip: "10.7.142.11"
role: "cumulus"
pinned_service: True
need_revive_rpc: True
# revive_rpc_version: polkadot-unstable2507-revive

default_telemetry_name: "Rotko Networks - {{ host_name.split('.')[0] }} {{ default_node_type | capitalize }}"
default_domain: "{{ host_name }}"
default_network: "asset-hub-paseo"
default_chain_spec: "{{ default_base_path }}/asset-hub-paseo.raw.json"
default_chain_spec_dl_url: "https://paseo-r2.zondax.ch/chain-specs/paseo-asset-hub.json"
default_relay_rpc: "ws://{{ hostvars['rpc-paseo-01']['container_ip'] }}:{{ hostvars['rpc-paseo-01']['default_rpc_port'] }}"
default_relay_rpc_fallback: "ws://{{ hostvars['rpc-paseo-02']['container_ip'] }}:{{ hostvars['rpc-paseo-02']['default_rpc_port'] }}"
default_database: "rocksdb"
default_node_type: "endpoint"
default_p2p_port: 33957
default_p2p_port_ws: 34957
default_p2p_port_wss: 35957
default_rpc_port: 9957
default_secure_rpc_port: 42957
default_prom_port: 7957
zabbix_ext_port: 10957

default_bootnode_domain: "boot-{{ default_network }}.rotko.net"
default_bootnode_p2p_port: "{{ default_p2p_port + 10500 }}"
default_bootnode_p2p_port_ws: "{{ default_p2p_port_ws + 10500 }}"
default_bootnode_p2p_port_wss: "{{ default_p2p_port_wss + 10500 }}"
