[Unit]
Description={{ host_name.split('.')[0] }} - cometbft service

[Service]
ExecStart={{ default_home_path }}/cometbft start --home {{ default_database_path }}/node0/cometbft
Restart=no
User=penumbra
# Raise filehandle limit for RPC and P2P connections.
LimitNOFILE=65536

[Install]
WantedBy=default.target
